p{
    margin: 0px
}
.index{
    position:relative;
}
.blogList{
    height: 120px;
    position:relative;
    margin-top:10px;
}
.card{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    width:90%;
    height:100%;
    background-color: #e8eaec;
}
.pageBox{
    display:flex
}
.page{
    margin: auto;
    margin-top: 10px;
}
.ivu-card-body{
    margin: 0px
}
.auth{
    float:left;
    margin-left:5px;
    margin-top:5px;
}
.create_time{
    width:100px;
    float:right;
}
.discription{
    width:100%;
    float:left;
    margin-top:10px;
}
.like_count{
    float:right;
    margin-right:30px;
}
.read_count{
    float:right;
    margin-right:10px;
}
.comment_count{
    float:right;
    margin-right:10px;
}
.head{
    height: 80px;
    position:relative;
    margin-top:10px;
}
.head-card{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    width:90%;
    height:100%;
    background-color: #5cadff;
}
.type{
    float:left;
    margin-left:15px;
    margin-top:5px;
}