.title{
    height: 40px;
    margin-top: 20px;
    text-align:center;
    
  }
  .author{
    margin-top: 10px;
    height: 20px;
    text-align:center;

  }
  .description{
    margin-top: 20px;
    height: auto;

  }
  .desmain{
    background:#eeeeee; 
    border:1px solid #cccccc; 
    padding:5px 10px;
  }
  .text{
    margin-top: 20px;
    height: auto;
  }
  .titlebox{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 20px;
  }
  Pre{
    background:#eeeeee; 
    border:1px solid #cccccc; 
    padding:5px 10px
  }
  p{
      font-family: "Helvetica Neue";
      font-size: 15px;
  }
  .headBox{
      height: 80px;
      margin-top: 20px;
  }